<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>59052659255-oju1nisr2l2j4ra2pcnn41vvtmppdp6j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.59052659255-oju1nisr2l2j4ra2pcnn41vvtmppdp6j</string>
	<key>API_KEY</key>
	<string>AIzaSyDvt-mZUudP0oDZ80XqXGGpmnxF_ywWZwY</string>
	<key>GCM_SENDER_ID</key>
	<string>59052659255</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.harboragekz</string>
	<key>PROJECT_ID</key>
	<string>harboragekz</string>
	<key>STORAGE_BUCKET</key>
	<string>harboragekz.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:59052659255:ios:0532fa411c214da8bb25b2</string>
</dict>
</plist>